<!DOCTYPE html>
<!--
Copyright 2016 dsilva.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html>
    <head>
        <title>Ejemplo de Ajax para combo | Usando AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    </head>
    <body>
        <h1>Ejemplo de Ajax para combo</h1>
        <h2>Usando AngularJS</h2>
        <div ng-app="app">
            <form ng-controller="formCtrl">
                <div >
                    <label for="productCode" > Product code</label>
                    <select id="productCode" ng-change="productCodeOnChange()" ng-model="productCode"  name="productCode" >      
                        <option ng-repeat="item in productCodeList" value="{{item.prodCode}}">{{item.description}}</option>
                    </select>
                </div>
                <div  >
                    <label for="product">Product</label>
                    <select id="product"   name="product">   
                        <option ng-repeat="item in productList" value="{{item.productId}}">{{item.description}}</option>
                    </select>
                </div>

            </form>
        </div>
        <script>
            var app = angular.module("app", []);
            app.controller('formCtrl', function ($scope, $http) {
                //obtenemos la lista del servlet...
                $http({
                    method: 'GET',
                    url: 'ProductCodeServlet'
                }).then(function (response) {//y cuando esté cargado...
                    $scope.productCodeList = response.data; //.. lo guardamos en el modelo
                });
                $scope.productCodeOnChange = function () {//cuando cambie el valor...
                    $http({
                        method: 'GET',
                        url: 'ProductServlet', //llamamos al servlet...
                        params: {
                            productCode: $scope.productCode //con los parametros indicados...
                        }
                    }).then(function (response) {
                        $scope.productList = response.data; //.. y la respuesta lo guardaremos en el modelo
                    });
                };

            });
        </script>
    </body>
</html>
