<!DOCTYPE html>
<!--
Copyright 2016 dsilva.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html>
    <head>
        <title>Ejemplo de Ajax para combo | Usando AngularJS (y Material Design)</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"/>
    </head>
    <body ng-app="app"  >
        <div ng-controller="formCtrl" layout="column" layout-align="center center" style="padding:40px">
            <h1>Ejemplo de Ajax para combo</h1>
            <h2>Usando AngularJS (y Material Design)</h2>
            <div  layout="column">
                <md-select placeholder="Product code"   ng-change="productCodeOnChange()" ng-model="productCode"  >      
                    <md-option ng-repeat="item in productCodeList" value="{{item.prodCode}}">{{item.description}}</md-option>
                </md-select>
                <md-select   placeholder="Product" ng-model="product" >   
                    <md-option ng-repeat="item in productList" value="{{item.productId}}">{{item.description}}</md-option>
                </md-select>
            </div>

        </div>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>

        <script>
                        var app = angular.module("app", ["ngMaterial"]); //igual que el otro, pero con el modulo ngMaterial
                        app.controller('formCtrl', function ($scope, $http) {
                            //obtenemos la lista del servlet...
                            $http({
                                method: 'GET',
                                url: 'ProductCodeServlet'
                            }).then(function (response) {//y cuando esté cargado...
                                $scope.productCodeList = response.data; //.. lo guardamos en el modelo
                            });
                            $scope.productCodeOnChange = function () {//cuando cambie el valor...
                                $http({
                                    method: 'GET',
                                    url: 'ProductServlet', //llamamos al servlet...
                                    params: {
                                        productCode: $scope.productCode //con los parametros indicados...
                                    }
                                }).then(function (response) {
                                    $scope.productList = response.data; //.. y la respuesta lo guardaremos en el modelo
                                });
                            };

                        });
        </script>
    </body>
</html>
